onlineL pilot study <br>
Process answers to in-scanner questions form Psychopy logs <br>
Create DataFrames all_logs <br>
Create DataFrame scores (aggragate score per subject, corrected in case of button-flip) <br>
Plot results per subject <br>
Plot score distribution over subjects (histogram)

In [1]:
# from os import listdir, makedirs, walk
from os.path import isfile, join, exists
from os import listdir
import subprocess
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display
%config InlineBackend.figure_format = 'retina' # for 4k screen
from IPython.core.interactiveshell import InteractiveShell # for var view
InteractiveShell.ast_node_interactivity = "all" # for var view
import shutil
import pandas as pd

In [5]:
#define paths
const_scan_data_path = '/mnt/bucket/labs/hasson/meshulam/onlineL/pilot/scans/'
subjects_file_name = '/mnt/bucket/labs/hasson/meshulam/onlineL/pilot/process/z_pilot_datasets_to_process/pilot_datasets_to_process.txt'
questions_key_path = '/mnt/bucket/labs/hasson/meshulam/onlineL/pilot/in_scanner_questions/'
result_save_path = '/mnt/bucket/labs/hasson/meshulam/onlineL/pilot/in_scanner_questions/dataframes/'
fig_save_path = '/mnt/bucket/labs/hasson/meshulam/onlineL/pilot/in_scanner_questions/figs/'

In [6]:
#read list of subjects (datasets) from file
subjects = pd.read_csv(subjects_file_name)['subjects'].tolist()
print(str(len(subjects))+' Subject IDs on file in total')

# for some analyses, exclude first subject because display wasn't good & he was only presented with 5 questions & question order was different 
subj_to_exclude='BS_082917'
print('Subject in exclusion list: '+ subj_to_exclude)

21 Subject IDs on file in total
Subject in exclusion list: BS_082917

In [4]:
# set params
videos = ['cos','hist','pieman'] # lectures
# constant: how many questions in our study
const_number_of_questions = np.double(10)
# columns to read out of 'loops' log file
col_to_read = ['order', # question order
               'select_answer.response_raw', # response to question
               'select_answer.rt_raw', # RT to answer question
               'key_wait_trigger.rt_raw']  # time to wait until question presented (perhaps useful for bold analysis later)

In [5]:
def logfile_to_df(logfile_path,logfile_name):
    """
    read Psychopy logfile
    """
    # find logfile
    find_file = [f for f in listdir(logfile_path) if logfile_name in f]
    # error if logfile not found
    if len(find_file) != 1: 
        raise NameError('logfile error')
        return
    # read logfile
    log_contents = pd.read_csv(logfile_path + find_file[0])
    return log_contents

In [6]:
# read all videos, subjects, into a single dataframe all_logs, with question key (correct answers)
all_logs = pd.DataFrame() #output

# get key (correct answers)
key_filename = questions_key_path+'in_scan_questions_key.xlsx'
key_df = pd.read_excel(key_filename) # holds correct responses

# go over all subjects
for this_subject in subjects: # all subjects, no exclusions
    
    #read logfile
    logfile_path = const_scan_data_path + this_subject + '/logs/' # path to subject's logfile
    logfile_name = 'questions.csv' #shortest with the CPH sequence data
    log_contents = logfile_to_df(logfile_path,logfile_name)

    for video in videos: # go over lectures
        lec_questions_subj = pd.DataFrame() # for output
        # go over all columns with relevant data in this logfile
        for this_col in col_to_read:   
            # read data
            lec_data = [l2 for l1,l2 in zip(log_contents['questionPath'],log_contents[this_col]) if (video+'_questions') in l1]
            # assign to dataframe as float
            lec_questions_subj = lec_questions_subj.assign(new_col=[float(i) for i in lec_data])
            lec_questions_subj = lec_questions_subj.rename(columns={"new_col": this_col})
            
        # fill NANs if no data (good for subjects with 5 q only)
        if len(lec_questions_subj)<const_number_of_questions:
            number_of_cols_to_add=const_number_of_questions-len(lec_questions_subj)
            df_nan = pd.DataFrame(np.nan, index=np.arange(number_of_cols_to_add), columns=col_to_read)
            lec_questions_subj = pd.merge_ordered(df_nan,lec_questions_subj)
            #lec_questions_subj['order_presented'] = np.arange(const_number_of_questions)

        # add subject and video id
        lec_questions_subj['subject']=this_subject
        lec_questions_subj['video']=video
        lec_questions_subj['question_number']=np.arange(10)+1
        
        # add key
        lec_questions_subj['correct_answer_from_key']=key_df[(key_df.video == video)].correct_answer.values      
        # concat over videos, subjects    
        all_logs = pd.concat([all_logs,lec_questions_subj])

In [7]:
all_logs

,order,select_answer.response_raw,select_answer.rt_raw,key_wait_trigger.rt_raw,subject,video,question_number,correct_answer_from_key
0,0.0,2.0,14.082000,33.585987,BS_082917,cos,1,2
1,1.0,4.0,1.481000,1.367147,BS_082917,cos,2,3
2,2.0,1.0,28.115000,0.483978,BS_082917,cos,3,1
3,3.0,1.0,25.533001,0.833866,BS_082917,cos,4,4
4,4.0,3.0,6.065000,0.417096,BS_082917,cos,5,1
5,NaN,NaN,NaN,NaN,BS_082917,cos,6,4
6,NaN,NaN,NaN,NaN,BS_082917,cos,7,2
7,NaN,NaN,NaN,NaN,BS_082917,cos,8,2
8,NaN,NaN,NaN,NaN,BS_082917,cos,9,3
9,NaN,NaN,NaN,NaN,BS_082917,cos,10,1
0,0.0,4.0,7.632000,19.135303,BS_082917,hist,1,2
1,1.0,4.0,14.665000,0.300639,BS_082917,hist,2,4
2,2.0,2.0,0.513000,0.784201,BS_082917,hist,3,2
3,3.0,1.0,12.948000,1.433913,BS_082917,hist,4,4
4,4.0,1.0,28.232000,1.017266,BS_082917,hist,5,3
5,NaN,NaN,NaN,NaN,BS_082917,hist,6,4
6,NaN,NaN,NaN,NaN,BS_082917,hist,7,1
7,NaN,NaN,NaN,NaN,BS_082917,hist,8,3
8,NaN,NaN,NaN,NaN,BS_082917,hist,9,2
9,NaN,NaN,NaN,NaN,BS_082917,hist,10,1
0,0.0,4.0,21.778000,77.288429,BS_082917,pieman,1,2
1,1.0,3.0,26.299000,1.168427,BS_082917,pieman,2,1
2,2.0,2.0,2.865000,1.151501,BS_082917,pieman,3,2
3,3.0,4.0,0.730000,0.583967,BS_082917,pieman,4,3
4,4.0,3.0,7.149000,1.217221,BS_082917,pieman,5,4
5,NaN,NaN,NaN,NaN,BS_082917,pieman,6,3
6,NaN,NaN,NaN,NaN,BS_082917,pieman,7,4
7,NaN,NaN,NaN,NaN,BS_082917,pieman,8,1
8,NaN,NaN,NaN,NaN,BS_082917,pieman,9,2
9,NaN,NaN,NaN,NaN,BS_082917,pieman,10,3
...,...,...,...,...,...,...,...,...
0,5.0,2.0,12.318000,1.269618,BE_121517,cos,1,2
1,9.0,3.0,6.968000,0.170601,BE_121517,cos,2,3
2,0.0,3.0,3.347000,44.169586,BE_121517,cos,3,1
3,7.0,3.0,5.884000,0.086269,BE_121517,cos,4,4
4,6.0,1.0,6.369000,0.136229,BE_121517,cos,5,1
5,3.0,4.0,2.017000,0.886251,BE_121517,cos,6,4
6,1.0,2.0,5.867000,0.102840,BE_121517,cos,7,2
7,2.0,2.0,4.065000,0.586316,BE_121517,cos,8,2
8,8.0,4.0,1.783000,0.570865,BE_121517,cos,9,3
9,4.0,1.0,15.684000,1.436615,BE_121517,cos,10,1
0,8.0,2.0,0.818000,0.853008,BE_121517,hist,1,2
1,7.0,4.0,1.101000,1.319522,BE_121517,hist,2,4
2,5.0,2.0,12.400000,0.736259,BE_121517,hist,3,2
3,6.0,4.0,2.135000,0.053274,BE_121517,hist,4,4
4,4.0,3.0,10.233000,0.003090,BE_121517,hist,5,3
5,2.0,4.0,7.717000,1.453129,BE_121517,hist,6,4
6,9.0,1.0,3.666000,1.136261,BE_121517,hist,7,1
7,0.0,3.0,0.536000,22.003233,BE_121517,hist,8,3
8,3.0,4.0,16.951000,0.236269,BE_121517,hist,9,2
9,1.0,1.0,6.501000,1.419715,BE_121517,hist,10,1
0,3.0,2.0,5.267000,0.419465,BE_121517,pieman,1,2
1,8.0,1.0,0.881000,0.269549,BE_121517,pieman,2,1
2,1.0,2.0,2.585000,1.386095,BE_121517,pieman,3,2
3,0.0,3.0,2.068000,21.553022,BE_121517,pieman,4,3
4,6.0,4.0,21.684000,0.853173,BE_121517,pieman,5,4
5,2.0,3.0,1.534000,0.869564,BE_121517,pieman,6,3
6,5.0,4.0,1.101000,1.386259,BE_121517,pieman,7,4
7,7.0,1.0,3.184000,1.269912,BE_121517,pieman,8,1
8,4.0,2.0,2.067000,1.186384,BE_121517,pieman,9,2
9,9.0,3.0,0.835000,1.069740,BE_121517,pieman,10,3

In [59]:
# save all_logs dataframe as txt and xls
all_logs.to_csv(result_save_path+'raw_in_scan_responses_'+str(len(subjects))+'_subjects.txt')
all_logs.to_excel(result_save_path+'raw_in_scan_responses_'+str(len(subjects))+'_subjects.xls')

In [107]:
def calc_scores(subjects,videos,logs_df):
    """
    Calculate percent correct for each subject in each lecture (except excluded subj)
    input: 
    subjects list
    videos list    
    logs dataframe
    output: df with columns subject,video,percent correct
    """
    scores = pd.DataFrame(columns=['subject','video','percent_correct']) # output
    for this_subject in [s for s in subjects if s!=subj_to_exclude]: # all subjects without excluded subject (only 10 questions)
        for this_video in videos:
            # filter df: subject,video
            subj_df = all_logs[(all_logs.subject == this_subject)&(all_logs.video == this_video)]
            # find which answers where correct
            where_correct = np.where(subj_df['select_answer.response_raw'] == subj_df['correct_answer_from_key'],1,0)
            # calc percent correct for subject in this video
            percent_correct = np.sum(where_correct)/len(where_correct)*100
            # append to output var
            scores = scores.append({'percent_correct':percent_correct, 'subject':this_subject, 'video':this_video}, ignore_index=True)    
    return scores         
scores = calc_scores(subjects,videos,all_logs)
scores

      subject   video  percent_correct
0   TC_091917     cos             90.0
1   TC_091917    hist            100.0
2   TC_091917  pieman             90.0
3   JY_091917     cos             70.0
4   JY_091917    hist             70.0
5   JY_091917  pieman             50.0
6   CK_092617     cos             70.0
7   CK_092617    hist             90.0
8   CK_092617  pieman            100.0
9   BT_092617     cos             80.0
10  BT_092617    hist            100.0
11  BT_092617  pieman             90.0
12  RT_092817     cos             70.0
13  RT_092817    hist             80.0
14  RT_092817  pieman             70.0
15  CN_092817     cos             90.0
16  CN_092817    hist            100.0
17  CN_092817  pieman             80.0
18  LB_100317     cos             70.0
19  LB_100317    hist            100.0
20  LB_100317  pieman             70.0
21  AL_100517     cos             40.0
22  AL_100517    hist            100.0
23  AL_100517  pieman            100.0
24  EW_100917     cos             90.0
25  EW_100917    hist             80.0
26  EW_100917  pieman            100.0
27  AA_100917     cos              0.0
28  AA_100917    hist             10.0
29  AA_100917  pieman              0.0
30  NP_101017     cos             90.0
31  NP_101017    hist             70.0
32  NP_101017  pieman             90.0
33  SN_101317     cos             90.0
34  SN_101317    hist             60.0
35  SN_101317  pieman             80.0
36  AT_101617     cos             70.0
37  AT_101617    hist             70.0
38  AT_101617  pieman             90.0
39  RB_102017     cos            100.0
40  RB_102017    hist            100.0
41  RB_102017  pieman             90.0
42  SW_102017     cos             90.0
43  SW_102017    hist             60.0
44  SW_102017  pieman             90.0
45  JM_102017     cos            100.0
46  JM_102017    hist            100.0
47  JM_102017  pieman             80.0
48  MP_102317     cos             60.0
49  MP_102317    hist             80.0
50  MP_102317  pieman             80.0
51  AF_120517     cos             70.0
52  AF_120517    hist             60.0
53  AF_120517  pieman             90.0
54  HR_121117     cos             90.0
55  HR_121117    hist            100.0
56  HR_121117  pieman            100.0
57  BE_121517     cos             70.0
58  BE_121517    hist             90.0
59  BE_121517  pieman            100.0

In [108]:
# which subjects got super low scores?
# define threshold
const_score_too_low_threshold = 10 # 10=didn't get more than 10% correct in each video
# get list of subjects with super low scores
subjects_with_super_low_score = [this_subject for this_subject in scores['subject'].unique() 
    if(sum(scores[(scores.subject==this_subject)]['percent_correct'])<=const_score_too_low_threshold*len(videos))]
print ('Subjects with super low overall scores:')
print(subjects_with_super_low_score)

Subjects with super low overall scores:
['AA_100917']

In [110]:
# fix subjects with overall superlow scores, assuming they switched response buttons (up/down)
def transform_key_single(full_df,subj_id):
    """
    func switches correct answer key for single subj
    for subjects who switched key order (top-bottom)
    Input: 
    full_df - dataframe to switch keys in
    subj_id
    Output:
    full_df - dataframe with switched keys for subject subj_id
    written because subjects all performed well except for AA_100917, score 10 in hist and 0 in cos, pieman
    """
    # filter df: subject,video
    subj_df = full_df[(full_df.subject == subj_id)]['correct_answer_from_key']
    # define transformation to fix answers if switched keys
    switch_dict = {1:4,2:3,3:2,4:1}
    # transform
    switched_df = subj_df.apply(lambda x: switch_dict[int(x)])
    full_df.loc[(full_df.subject == subj_id),'correct_answer_from_key'] = switched_df.values
    return full_df

def transform_key_multiple(full_df, subjects_to_switch):
    # transfrom subjects who got low scores
    for this_subject in subjects_to_switch:
        all_logs_transformed_key = transform_key(full_df,this_subject)
    return all_logs_transformed_key

all_logs_fixed = transform_key_multiple(all_logs,subjects_with_super_low_score)

In [111]:
# recalulate scores now that buttons were switched for super-low score subjects
scores = calc_scores(subjects,videos,all_logs_transformed_key)
scores
# and voila, score for AA has markedly improved

      subject   video  percent_correct
0   TC_091917     cos             90.0
1   TC_091917    hist            100.0
2   TC_091917  pieman             90.0
3   JY_091917     cos             70.0
4   JY_091917    hist             70.0
5   JY_091917  pieman             50.0
6   CK_092617     cos             70.0
7   CK_092617    hist             90.0
8   CK_092617  pieman            100.0
9   BT_092617     cos             80.0
10  BT_092617    hist            100.0
11  BT_092617  pieman             90.0
12  RT_092817     cos             70.0
13  RT_092817    hist             80.0
14  RT_092817  pieman             70.0
15  CN_092817     cos             90.0
16  CN_092817    hist            100.0
17  CN_092817  pieman             80.0
18  LB_100317     cos             70.0
19  LB_100317    hist            100.0
20  LB_100317  pieman             70.0
21  AL_100517     cos             40.0
22  AL_100517    hist            100.0
23  AL_100517  pieman            100.0
24  EW_100917     cos             90.0
25  EW_100917    hist             80.0
26  EW_100917  pieman            100.0
27  AA_100917     cos             70.0
28  AA_100917    hist             90.0
29  AA_100917  pieman             90.0
30  NP_101017     cos             90.0
31  NP_101017    hist             70.0
32  NP_101017  pieman             90.0
33  SN_101317     cos             90.0
34  SN_101317    hist             60.0
35  SN_101317  pieman             80.0
36  AT_101617     cos             70.0
37  AT_101617    hist             70.0
38  AT_101617  pieman             90.0
39  RB_102017     cos            100.0
40  RB_102017    hist            100.0
41  RB_102017  pieman             90.0
42  SW_102017     cos             90.0
43  SW_102017    hist             60.0
44  SW_102017  pieman             90.0
45  JM_102017     cos            100.0
46  JM_102017    hist            100.0
47  JM_102017  pieman             80.0
48  MP_102317     cos             60.0
49  MP_102317    hist             80.0
50  MP_102317  pieman             80.0
51  AF_120517     cos             70.0
52  AF_120517    hist             60.0
53  AF_120517  pieman             90.0
54  HR_121117     cos             90.0
55  HR_121117    hist            100.0
56  HR_121117  pieman            100.0
57  BE_121517     cos             70.0
58  BE_121517    hist             90.0
59  BE_121517  pieman            100.0

In [113]:
# save scores dataframe as txt and xls
scores.to_csv(result_save_path+'in_scan_scores_'+str(len(subjects))+'_subjects.txt')
scores.to_excel(result_save_path+'in_scan_scores_'+str(len(subjects))+'_subjects.xls')

In [295]:
# create df score2plot for bar graph describing scores for all subjects in each vid

# transform scores dataframe
score2plot = pd.DataFrame(columns=[['subject']+videos]) # output
for this_subject in scores['subject'].unique():
    subj_scores = np.zeros([len(videos)])
    for iVideo, this_video in enumerate(videos):
        this_score = scores[(scores['subject']==this_subject) & (scores['video']==this_video)]['percent_correct'].values
        subj_scores[iVideo]=this_score[0]
    score2plot=score2plot.append({'subject':this_subject, videos[0]:subj_scores[0], videos[1]:subj_scores[1], videos[2]:subj_scores[2]},ignore_index=True)
score2plot

      subject    cos   hist  pieman
0   TC_091917   90.0  100.0    90.0
1   JY_091917   70.0   70.0    50.0
2   CK_092617   70.0   90.0   100.0
3   BT_092617   80.0  100.0    90.0
4   RT_092817   70.0   80.0    70.0
5   CN_092817   90.0  100.0    80.0
6   LB_100317   70.0  100.0    70.0
7   AL_100517   40.0  100.0   100.0
8   EW_100917   90.0   80.0   100.0
9   AA_100917   70.0   90.0    90.0
10  NP_101017   90.0   70.0    90.0
11  SN_101317   90.0   60.0    80.0
12  AT_101617   70.0   70.0    90.0
13  RB_102017  100.0  100.0    90.0
14  SW_102017   90.0   60.0    90.0
15  JM_102017  100.0  100.0    80.0
16  MP_102317   60.0   80.0    80.0
17  AF_120517   70.0   60.0    90.0
18  HR_121117   90.0  100.0   100.0
19  BE_121517   70.0   90.0   100.0

In [296]:
# plot bar graph from score2plot: results per subject
#plt.gcf().clear()
fig1, ax1 = plt.subplots()
index = np.arange(len(score2plot))
bar_width = 0.15
opacity = 0.7
bar1 = plt.bar(index+bar_width*0,score2plot['cos'].values, bar_width, alpha=opacity, color = 'b', label='COS')
bar2 = plt.bar(index+bar_width*1,score2plot['hist'].values, bar_width, alpha=opacity, color = 'g', label='HIST') 
bar3 = plt.bar(index+bar_width*2,score2plot['pieman'].values, bar_width, alpha=opacity, color = 'r', label='PIEMAN') 

plt.xlabel('Subjects')
plt.ylabel('Scores')
plt.title('Subject scores by video')
#plt.xticks(index + bar_width, (score2plot['subject']))
plt.xticks(index + bar_width, (index+1))
plt.legend()
 
#plt.tight_layout()
#plt.show()

([<matplotlib.axis.XTick at 0x7fac690a63c8>,
  <matplotlib.axis.XTick at 0x7fac690554a8>,
  <matplotlib.axis.XTick at 0x7fac690450f0>,
  <matplotlib.axis.XTick at 0x7fac696837f0>,
  <matplotlib.axis.XTick at 0x7fac69683cc0>,
  <matplotlib.axis.XTick at 0x7fac69a0d6d8>,
  <matplotlib.axis.XTick at 0x7fac6929a128>,
  <matplotlib.axis.XTick at 0x7fac6929a278>,
  <matplotlib.axis.XTick at 0x7fac693b2b38>,
  <matplotlib.axis.XTick at 0x7fac69554f28>,
  <matplotlib.axis.XTick at 0x7fac695544a8>,
  <matplotlib.axis.XTick at 0x7fac695e7ef0>,
  <matplotlib.axis.XTick at 0x7fac695ff710>,
  <matplotlib.axis.XTick at 0x7fac695ff278>,
  <matplotlib.axis.XTick at 0x7fac6975ffd0>,
  <matplotlib.axis.XTick at 0x7fac6979deb8>,
  <matplotlib.axis.XTick at 0x7fac6979d7b8>,
  <matplotlib.axis.XTick at 0x7fac6982c7f0>,
  <matplotlib.axis.XTick at 0x7fac6983a940>,
  <matplotlib.axis.XTick at 0x7fac6983a978>],
 <a list of 20 Text xticklabel objects>)

In [297]:
# plot distribution over subjects per lecture

# create dict with histogram
bns = np.arange(12)*10-1 # bins for histogram
response_dist={}
for this_video in videos:
    vals=score2plot[this_video].values
    response_dist[this_video] = np.histogram(vals,bins=bns,density=False)

fig2, ax2 = plt.subplots()
index = np.arange(len(videos))
opacity = 0.7
index = bns[0:-1]+1 # index for plot
d1 = plt.plot(index,response_dist['cos'][0], alpha=opacity, color = 'b', label='COS')#
d2 = plt.plot(index,response_dist['hist'][0], alpha=opacity, color = 'g', label='HIST')#
d3 = plt.plot(index,response_dist['pieman'][0], alpha=opacity, color = 'r', label='PIEMAN')#
plt.xlabel('Percent correct')
plt.ylabel('Number of subjects')
plt.title('Distribution of in-scanner test scores, over subjects')
plt.legend()

In [298]:
# save fig data as table
scores.to_csv(result_save_path+'subject_scores_by_video_'+str(len(score2plot))+'_subjects.txt')
# save fig1: per subject
fig1.savefig(fig_save_path+'subject_scores_by_video_'+str(len(score2plot))+'_subjects.jpg')
# save fig2: score distribution over all subjects
fig2.savefig(fig_save_path+'score_dist_by_video_'+str(len(score2plot))+'_subjects.jpg')

In [23]:
# assess question quality
# plot answer histogram per question and save plots
# as sanity check to see that there's a clear peak in the response distribution

# prep plt
plt.gcf().clear()
# select parameters: video and question number (1-10)
for choose_video in videos:
    print(choose_video)
    for choose_question in (np.arange(10)+1):
        print(choose_question)
        # filter df: video, question, exclusions
        df_filtered = all_logs[(all_logs.video == choose_video)
                                    & (all_logs.question_number == choose_question)
                                    & (all_logs.subject != subj_to_exclude)]
        #print (df_filtered)
        # extract data from df
        response = df_filtered['select_answer.response_raw'].values
        # remove nans
        response = response[~np.isnan(response)] 
        # create histogram
        response_hist=np.histogram(response,bins=[0,1.1,2.1,3.1,4.1],density=False)
        #print(response_hist)
        # plot histogram
        plt.bar(np.arange(len(response_hist[0])),response_hist[0])
        plt.title('vid: '+ choose_video + ', question = ' + str(int(choose_question))+' (N=20)')
        plt.savefig(fig_save_path+'dist_ans_per_q\\'+choose_video+'_'+'q'+str(int(choose_question)))
        plt.gcf().clear()

cos
1

2

3

4

5

6

7

8

9

10

hist
1

2

3

4

5

6

7

8

9

10

pieman
1

2

3

4

5

6

7

8

9

10

In [ ]:
plt.close("all")

In [17]:
all_logs

,key_wait_trigger.rt_raw,order,order_presented,question_number,select_answer.response_raw,select_answer.rt_raw,subject,video
0,33.585987,0.0,0.0,1,2.0,14.082000,BS_082917,cos
1,1.367147,1.0,1.0,2,4.0,1.481000,BS_082917,cos
2,0.483978,2.0,2.0,3,1.0,28.115000,BS_082917,cos
3,0.833866,3.0,3.0,4,1.0,25.533001,BS_082917,cos
4,0.417096,4.0,4.0,5,3.0,6.065000,BS_082917,cos
5,NaN,NaN,5.0,6,NaN,NaN,BS_082917,cos
6,NaN,NaN,6.0,7,NaN,NaN,BS_082917,cos
7,NaN,NaN,7.0,8,NaN,NaN,BS_082917,cos
8,NaN,NaN,8.0,9,NaN,NaN,BS_082917,cos
9,NaN,NaN,9.0,10,NaN,NaN,BS_082917,cos
0,19.135303,0.0,0.0,1,4.0,7.632000,BS_082917,hist
1,0.300639,1.0,1.0,2,4.0,14.665000,BS_082917,hist
2,0.784201,2.0,2.0,3,2.0,0.513000,BS_082917,hist
3,1.433913,3.0,3.0,4,1.0,12.948000,BS_082917,hist
4,1.017266,4.0,4.0,5,1.0,28.232000,BS_082917,hist
5,NaN,NaN,5.0,6,NaN,NaN,BS_082917,hist
6,NaN,NaN,6.0,7,NaN,NaN,BS_082917,hist
7,NaN,NaN,7.0,8,NaN,NaN,BS_082917,hist
8,NaN,NaN,8.0,9,NaN,NaN,BS_082917,hist
9,NaN,NaN,9.0,10,NaN,NaN,BS_082917,hist
0,77.288429,0.0,0.0,1,4.0,21.778000,BS_082917,pieman
1,1.168427,1.0,1.0,2,3.0,26.299000,BS_082917,pieman
2,1.151501,2.0,2.0,3,2.0,2.865000,BS_082917,pieman
3,0.583967,3.0,3.0,4,4.0,0.730000,BS_082917,pieman
4,1.217221,4.0,4.0,5,3.0,7.149000,BS_082917,pieman
5,NaN,NaN,5.0,6,NaN,NaN,BS_082917,pieman
6,NaN,NaN,6.0,7,NaN,NaN,BS_082917,pieman
7,NaN,NaN,7.0,8,NaN,NaN,BS_082917,pieman
8,NaN,NaN,8.0,9,NaN,NaN,BS_082917,pieman
9,NaN,NaN,9.0,10,NaN,NaN,BS_082917,pieman
...,...,...,...,...,...,...,...,...
0,1.269618,5.0,NaN,1,2.0,12.318000,BE_121517,cos
1,0.170601,9.0,NaN,2,3.0,6.968000,BE_121517,cos
2,44.169586,0.0,NaN,3,3.0,3.347000,BE_121517,cos
3,0.086269,7.0,NaN,4,3.0,5.884000,BE_121517,cos
4,0.136229,6.0,NaN,5,1.0,6.369000,BE_121517,cos
5,0.886251,3.0,NaN,6,4.0,2.017000,BE_121517,cos
6,0.102840,1.0,NaN,7,2.0,5.867000,BE_121517,cos
7,0.586316,2.0,NaN,8,2.0,4.065000,BE_121517,cos
8,0.570865,8.0,NaN,9,4.0,1.783000,BE_121517,cos
9,1.436615,4.0,NaN,10,1.0,15.684000,BE_121517,cos
0,0.853008,8.0,NaN,1,2.0,0.818000,BE_121517,hist
1,1.319522,7.0,NaN,2,4.0,1.101000,BE_121517,hist
2,0.736259,5.0,NaN,3,2.0,12.400000,BE_121517,hist
3,0.053274,6.0,NaN,4,4.0,2.135000,BE_121517,hist
4,0.003090,4.0,NaN,5,3.0,10.233000,BE_121517,hist
5,1.453129,2.0,NaN,6,4.0,7.717000,BE_121517,hist
6,1.136261,9.0,NaN,7,1.0,3.666000,BE_121517,hist
7,22.003233,0.0,NaN,8,3.0,0.536000,BE_121517,hist
8,0.236269,3.0,NaN,9,4.0,16.951000,BE_121517,hist
9,1.419715,1.0,NaN,10,1.0,6.501000,BE_121517,hist
0,0.419465,3.0,NaN,1,2.0,5.267000,BE_121517,pieman
1,0.269549,8.0,NaN,2,1.0,0.881000,BE_121517,pieman
2,1.386095,1.0,NaN,3,2.0,2.585000,BE_121517,pieman
3,21.553022,0.0,NaN,4,3.0,2.068000,BE_121517,pieman
4,0.853173,6.0,NaN,5,4.0,21.684000,BE_121517,pieman
5,0.869564,2.0,NaN,6,3.0,1.534000,BE_121517,pieman
6,1.386259,5.0,NaN,7,4.0,1.101000,BE_121517,pieman
7,1.269912,7.0,NaN,8,1.0,3.184000,BE_121517,pieman
8,1.186384,4.0,NaN,9,2.0,2.067000,BE_121517,pieman
9,1.069740,9.0,NaN,10,3.0,0.835000,BE_121517,pieman